.env.local
**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/
**/*.pyc
**/venv/
**/.venv/


# Terraform
infra/.terraform/
*.tfstate
*.tfstate.*
crash.log
infra/terraform.tfvars

# Local AWS credentials
scripts/set-aws-env.ps1
